@import "nullstyle";

@font-face {
    font-family: "RobotoRegular";
    src: url("assets/Roboto-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("assets/Roboto-Medium.woff");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("assets/Roboto-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@mixin font(
    $font: "regular",
    $size: 13px,
    $color: $COLOR_DARK,
    $spacing: 0.02em,
    $weight: 300
) {
    @if $font == "regular" {
        font-family: RobotoRegular, Verdana, Helvetica, Arial, sans-serif;
    } @else if $font == "medium" {
        font-family: RobotoMedium, Verdana, Helvetica, Arial, sans-serif;
    } @else if $font == "bold" {
        font-family: RobotoBold, Verdana, Helvetica, Arial, sans-serif;
    } @else {
        //если ошибка, то шрифт по умолчанию
        font-family: RobotoRegular, Verdana, Helvetica, Arial, sans-serif;
    }

    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    color: $color;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

//VARIABLES
$MAIN_SIDE_PADDING: 40px;
$REGULAR_FONT_SIZE: 16px;
$HEIGHT_HEADER: 60px;
$COLOR_NAV_HOVER: #f1f2f3;
$LIGHT_COLOR_GRAY: #fbfbfb;
$LIGHT_COLOR_GRAY1: #efefef;
$LIGHT_COLOR_GRAY2: #e7e7e7;

$COLOR_GRAY: #606f7e;

$COLOR_DARK: #23374d;

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: $HEIGHT_HEADER;
        min-height: $HEIGHT_HEADER;
        padding: 8px $MAIN_SIDE_PADDING;
        background-color: $LIGHT_COLOR_GRAY;
        border-bottom: 1px solid $LIGHT_COLOR_GRAY2;
    }
    &__layout {
        position: relative;
        display: flex;

        &.left {
            flex: 1;
        }

        //&.right{
        //border: 1px solid red;
        //}
    }

    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        //min-width: 200px;
        padding-right: 20px;
    }
    &__ico {
        display: flex;
        padding-right: 20px;
        & img {
            width: 145px;
            //height: 25px;
        }
    }
    /*&__name {
        display: flex;
        height: 18px;
    }*/
    &__search {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 500px;
        min-width: 300px;
        height: 100%;
        border-radius: 5px;
        border: 1px solid $LIGHT_COLOR_GRAY2;
        background-color: $LIGHT_COLOR_GRAY1;

        & .main__ico-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 100%;
            margin-right: 5px;
            & img {
                width: 28px;
                height: 28px;
            }
        }

        & .main__ico-cros {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 100%;
            //margin-left: 5px;
            & img {
                width: 12px;
                height: 12px;
            }
        }

        & input {
            @include font("regular", $REGULAR_FONT_SIZE, $COLOR_GRAY);
            width: 100%;
            height: auto;
            background: transparent;
        }
    }
    &__auth {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    &__ico-auth {
        display: flex;
        padding-left: 10px;

        & img {
            width: 30px;
            height: 30px;
        }
    }
    &__name-auth {
        display: flex;
        & span {
            @include font("medium", 17px, $COLOR_DARK, 0.05em, 500);
            cursor: pointer;
        }
    }
}

//SECTION 2 - CONTROL/NAVIGATION
.control-main {
    display: flex;
    width: 100%;
    height: $HEIGHT_HEADER;
    min-height: $HEIGHT_HEADER;
    padding: 0px $MAIN_SIDE_PADDING;

    /*
    &:after{
        content: '';
        display: inline-block;
        position: absolute;
        height: $HEIGHT_HEADER;
        padding: 0px $MAIN_SIDE_PADDING;
        border-bottom: 1px solid $LIGHT_COLOR_GRAY2;
    }*/
    /*&::after {
        content: '';
        box-sizing: content-box !important;  
    }*/
    .nav-control-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        border-bottom: 1px solid $LIGHT_COLOR_GRAY2;

        &__navigation {
            .nav-control-main__list {
                display: flex;
                /*>div {
                    padding-right: 20px;
                }*/
                .nav-control-main__item {
                    display: flex;
                    //padding-right: 20px;

                    .nav-control-main__button {
                        display: flex;
                        //height: calc($HEIGHT_HEADER - 10);
                        padding: 10px;
                        border-radius: 10px;
                        cursor: pointer;

                        & span {
                            @include font(
                                "medium",
                                17px,
                                $COLOR_DARK,
                                0.02em,
                                500
                            );
                        }

                        &:hover {
                            background-color: $COLOR_NAV_HOVER;
                        }
                    }

                    .nav-control-main__arrow {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 100%;
                    }

                    &:last-child img {
                        //у последнего итема стрека смотрит вниз. В реальности Стрелка должна быть внутри кнопки, а стрелка навигации скрыта.
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &__settings_container {
            display: flex;
            max-width: 290px;
            min-width: 267px; //чтобы контейнер с кнопками справо сильно не сжимался, когда полоса в навигации будет слишком длинной из-за вложенностей.
            flex: 1;
            justify-content: space-between;
            /*сделал по другому - отступами флекса
            .nav-control-main__setting:not(:last-child) {
                //чтобы иконку настроек не смещать, оставить на уровне по центру с иконкой авторизации выше
                margin-right: 5px;
            }*/

            .nav-control-main__setting {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 40px;
                cursor: pointer;

                &:hover {
                    background: $COLOR_NAV_HOVER;
                    border-radius: 50%;
                }

                .nav-control-main__ico {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    & img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .nav-control-main__filter {
                display: flex;
                flex-direction: row;
                align-items: center;
                //margin: 0 10px;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background: $COLOR_NAV_HOVER;
                }

                & span {
                    @include font("regular", 13.5px, $COLOR_DARK, 0.02em);
                    margin-right: 7px;
                }
                .nav-control-main__ico {
                    display: flex;
                    &.rotate {
                        & img {
                            width: 12px;
                            transform: rotate(90deg) !important;
                        }
                    }
                }
            }
            /*
            .nav-control-main__settings {
                display: flex;
                padding: 10px;
            }
            .nav-control-main__view {
                display: flex;
                padding: 10px;
            }*/
        }
        /*&__view {
            position: relative;
            display: flex;
            width: 30px;
            justify-content: center;
        }*/
    }
}

//SECTION 3 - PROJECTS

.main-projects {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    //width: 100%;
    //height: 100%;//!!ломает верстку, итемы выскакивают за паддинг из контейнера флекс
    padding: 30px $MAIN_SIDE_PADDING;

    //!! РЕЖИМ отображения списком

    .main-projects__table {
        display: flex;
        flex-direction: column;

        .row-project {
            display: flex;
            flex-direction: row;

            &:nth-of-type(even) {
                //!! заливка фона для роу через один. Возможно лучше убрать.
                background-color: $LIGHT_COLOR_GRAY;
            }

            &__ico {
                display: flex;
                flex: 0 0 60px;
                height: 48px;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }
            }
            &__name {
                display: flex;
                flex-grow: 1; //все остальные элементы прижаты вправо
                align-items: center;
                justify-content: flex-start;
                @include font("medium", 13.5px);
                margin-right: 7px;
                font-weight: 500;
            }
            .view-row {
                display: flex;
                flex: 0 0 75px;
                align-items: center;
                justify-content: flex-start;

                span {
                    @include font("regular", 13.5px, $COLOR_GRAY);
                }

                &__ico {
                    display: flex;
                    width: 19px;
                    margin-right: 5px;
                    img {
                        max-width: 100%;
                    }
                }
            }
            .download-row {
                display: flex;
                flex: 0 0 75px;
                align-items: center;
                justify-content: flex-start;

                span {
                    @include font("regular", 13.5px, $COLOR_GRAY);
                }

                &__ico {
                    display: flex;
                    width: 13px;
                    margin-right: 5px;
                    img {
                        max-width: 100%;
                    }
                }
            }
            &__date {
                display: flex;
                flex: 0 0 100px;
                align-items: center;
                justify-content: flex-start;
                @include font("regular", 13.5px, $COLOR_GRAY);
            }
            &__size {
                display: flex;
                flex: 0 0 80px;
                align-items: center;
                justify-content: flex-start;
                @include font("regular", 13.5px, $COLOR_GRAY);
            }
            .share-row {
                display: flex;
                flex: 0 0 30px;
                align-items: center;
                justify-content: flex-start;

                &__ico {
                    display: flex;
                    width: 22px;
                    cursor: pointer;
                    //margin-right: 5px;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    //!! РЕЖИМ отображения плиткой

    &__list {
        //position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(
            auto-fill,
            minmax(170px, 1fr)
        ); //!!убрал minmax(190px,1fr) - чтобы не растягивть итемы
        grid-template-rows: repeat(
            auto-fit,
            190px
        ); //!!убрал minmax(190px,1fr) - чтобы не растягивть итемы
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;

        .item-project {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            //max-width: 170px;//!!добавил для ограничения растягивания по ширине
            height: 190px;
            background: #fff;
            border: 1px solid #c4c4c4;
            border-radius: 10px;
            overflow: hidden;

            .folder {
                //если итем это папка, то превью растягивать не нужно, там одна статичная иконка папки
                & img {
                    max-width: 100% !important;
                    height: auto !important;
                    object-fit: none !important;
                }
            }
            /*
            &__preview {
                position: relative;
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                justify-content: space-between;

                .item-project__ico {
                    position: relative;
                    display: flex;
                    width: 100%;
                    pointer-events: none;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    max-height: 148px; //максимальная высота контейнера с превью

                    & img {
                        //height: 148px;
                        max-width: 100%;
                        //object-fit: contain;
                    }
                }
            }
            */
            &__ico {
                position: relative;
                display: flex;
                width: 100%;

                pointer-events: none;
                flex: 1 1 auto;
                align-items: center;
                justify-content: center;
                max-height: 148px; //максимальная высота контейнера в превью чтобы не смещалось название вниз из-за разных размеров картинок

                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            &__name {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 40px;
                width: 100%;
                pointer-events: none;
                background-color: #ffffff;
                //margin-bottom: 15px;

                & span {
                    @include font;
                }
            }
        }
    }
    &__settings {
    }
    & footer {
        position: relative;
        display: flex;
        width: 100%;
        height: 30px;
    }
}
